*.class
*.log
.DS_Store

# nodejs
config/lib/plugins/
node_modules/
npm-debug.log
dist/
coverage/

# sbt specific
.cache
.history
.lib/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
