/* Stylesheet which will be used for the light Grafana theme */

.map text {
    stroke: #fff;
}

.breadcrumbs {
    color: #000;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
