/* Default stylesheet which will be used for any Grafana theme */

.disabled {
    color: gray;
    cursor: not-allowed;
}

/* Styling for GeoChart country borders */
.stroke-selected {
    stroke-width: 3px !important;
}

.stroke-zoom {
    transition: scale 1s;
    stroke-width: 1px !important;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

.d3tooltip {
    position: absolute;
    text-align: center;
    padding: 0 4px 0 4px;
    font-size: .875rem;
    pointer-events: none;
    border-radius: 1px;
}

.d3tooltip .d3tooltip-title {
    font-weight: bold;
    padding-top: 2px;
}

.d3tooltip .d3tooltip-info {
}

.d3tooltip .d3tooltip-left {
    color: #32D1DF;
    float: left;
    padding-right: 4px;
}

.d3tooltip .d3tooltip-undefined {
    color: #32D1DF;
    font-style: italic;
}

.d3tooltip .d3tooltip-right {
    float: right;
}

.d3tooltip .d3tooltip-clear {
    clear: both;
}

.map {
    position: relative;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
}

.selectedCountriesControl {
    margin-top: 10px;
    width: 100%
}

.selectedCountriesControl .clabel {
    width: 65%;
    float: left;
}

.selectedCountriesControl .cbutton {
    width: 35%;
    float: right;
}

.selectedCountriesControl .clabel .gf-form-label {
    text-align: center;
}

.selectedCountriesControl .cbutton .gf-form-btn {
    width: 100%;
}

.timelapse-title {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 4px;
}

.timelapse-timestamp {
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
}

.timelapse-player {
    height: 30px;
    border-radius: 1px;
}

.timelapse-action {
    line-height: 30px;
    float: left;
    width: 10%;
    text-align: center;
}

.timelapse-live {
    color: red;
}

.timelapse-progress-wrapper {
    float: left;
    width: 80%;
    line-height: 30px;
    padding: 0 10px 0 0;
}

.timelapse-progress {
    text-align: center;
    height: 10px;
    display: inline-block;
    width: 100%;
    border-radius: 1px;
}

.timelapse-progress-bar {
    width: 100%;
    height: 100%;
    background: #2AB2E4;
}
