/* Default stylesheet which will be used for any Grafana theme */

.disabled {
    color: gray;
}

/* Styling for GeoChart country borders */
.stroke-selected {
    stroke-width: 3px !important;
}

.stroke-zoom {
    transition: scale 1s;
    stroke-width: 1px !important;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}
.d3tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    color:black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.background {
    fill: #1f1d1d;
}

.map {
    position: relative;
}

.timelapse {
    width: 250px;

    position: absolute;
    top: 0;
    left: 0;
}

.timelapse-title {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}

.timelapse-timestamp {
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding-bottom: 4px;
}

.timelapse-player {
    height: 30px;
    background: #383a37;
    border: 1px solid #1f1c25;
    border-radius: 4px;
}

.timelapse-action {
    line-height: 30px;
    float: left;
    width: 10%;
    text-align: center;
}

.timelapse-live {
    color: red;
}

.timelapse-progress-wrapper {
    float: left;
    width: 80%;
    line-height: 30px;
    padding: 0 10px 0 0;
}

.timelapse-progress {
    text-align: center;
    height: 10px;
    display: inline-block;
    background: #222222;
    width: 100%;
    border: 1px solid #141414;
    border-radius: 3px;
}

.timelapse-progress-bar {
    width: 100%;
    height: 100%;
    background: #2dbeaa;
}
