table, tr, td {
  border: 1px white;
  padding: 10px;
}

.circle {
  background-color: white;
}

.circle-container {
}

.item {
  margin: 0px 20px 20px 0px;
  text-align: center;
}

.angular-container {
  background: none;
  border: 3px solid red;
  height: 200px;
}

/*------------- General stuff -------------*/

.center-flex-container {
  display: flex;
  justify-content: center;
}

.relative-container {
  position: relative;
  height: auto;
  display: inline-flex;
}
