table, tr, td {
  border: 1px white;
  padding: 10px;
}

#circle-tooltip {
  background-color: black;
  border: 1px solid grey;
  position: absolute;
  padding: 5px;
  border-radius: 0.4em;
  z-index: 2;
}

#tooltip-arrow {
  position: absolute;
  background-color: black;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  top: -8px;
  left: calc(50% - 8px);
  border-bottom-right-radius: 100%;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

.circle {
  background-color: white;
}

.circle-container {
}

.item {
  margin: 0px 20px 20px 0px;
  text-align: center;
}

/*Change this width and hight programatically!*/
.angular-container {
  background-color: none;
  border-radius: 6em;
  margin: 20px 20px 0px 20px;
  width: 100px;
  height: 140px;
  display: flex;
  justify-content: center;
  color: grey;
  align-items: flex-end;
}

/*------------- General stuff -------------*/

.center-flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.relative-container {
  position: relative;
  height: auto;
  display: inline-block;
}

.layer-0 {
  position: relative;
  z-index: 0;
}

.layer-1 {
  position: absolute;
  z-index: 1;
}
