<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Map Visual Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Region</label>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.mapRegion" ng-options="t for t in ['World', 'Africa', 'Europe', 'America', 'Asia', 'Oceania']" ng-change="ctrl.setMapRegion()"></select>
			</div>
		</div>
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Show Legend" label-class="width-10" checked="ctrl.panel.showLegend" on-change="ctrl.toggleLegend()"></gf-form-switch>
		</div>
	</div>
	<div class="section gf-form-group">
		<h5 class="section-heading">Map Animation Options</h5>
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Animate" label-class="width-10" checked="ctrl.panel.animate" on-change="ctrl.updateAnimation()"></gf-form-switch>
		</div>
		<div class="gf-form" ng-show="ctrl.panel.animate">
			<label class="gf-form-label width-10">Duration (S)</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.animationDuration" ng-change="ctrl.updateAnimation()"/>
		</div>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Threshold Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Color Amount</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.colorAmount" ng-blur="ctrl.colorAmountUpdated()" placeholder="1" />
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Color</label>
			<spectrum-picker class="gf-form-input width-3" ng-repeat="color in ctrl.panel.colors track by $index" ng-model="ctrl.panel.colors[$index]" ng-change="ctrl.changeColors()" ></spectrum-picker>
		</div>
	</div>
</div>
