<!-- Thttps://www.linuxmint.com/start/serena/his HTML page holds all the settings for the GeoMap plugin -->
<div class="editor-row">
	<div class="section gf-form-group">
		<!-- Region options -->
		<h5 class="section-heading">Map Region Options</h5>

		<!-- Selector for the continent -->
		<div class="gf-form">
			<label class="gf-form-label width-10">Continent</label>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.zoomContinent" ng-change="ctrl.optionChanged('zoomContinent', 'continent')">
					<option value="World">World</option>
					<option ng-repeat="location in ctrl.zoomedContinents" value="{{location.key}}">{{location.name}}</option>
				</select>
			</div>
		</div>

		<!-- Selector for the sub continent -->
		<div class="gf-form" ng-if="ctrl.panel.zoomContinent!=null&&ctrl.panel.zoomContinent!='World'">
			<label class="gf-form-label width-10">Sub Continent</label>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.zoomSubContinent" ng-change="ctrl.optionChanged('zoomSubContinent', 'subContinent')">
					<option value = "None">None</option>
					<option ng-repeat="location in ctrl.zoomedSubContinents" value="{{location.key}}">{{location.name}}</option>
				</select>
			</div>
		</div>

		<!-- Selector for the country -->
		<div class="gf-form" ng-if="ctrl.panel.zoomSubContinent!=null&&ctrl.panel.zoomSubContinent!='None'">
			<label class="gf-form-label width-10">Country</label>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.zoomCountry" ng-change="ctrl.optionChanged('zoomSubContinent', 'country')">
					<option value = "None">None</option>
					<option ng-repeat="location in ctrl.zoomedCountries" value="{{location.key}}">{{location.name}}</option>
				</select>
			</div>
		</div>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Map Visual Options</h5>

		<!-- Checkbox to toggle wether or not the legend should be showing -->
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Show Legend" label-class="width-10" checked="ctrl.panel.showLegend" on-change="ctrl.optionChanged('showLegend')"></gf-form-switch>
		</div>

		<!-- Checkbox to toggle wether or not the breadcrumbs should be showing -->
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Show Breadcrumbs" label-class="width-10" checked="ctrl.panel.showBreadcrumbs"></gf-form-switch>
		</div>

		<!-- Checkbox to toggle wether or not to be able to click to zoom -->
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Click to Zoom" label-class="width-10" checked="ctrl.panel.clickToZoomEnabled"></gf-form-switch>
		</div>

		<!-- Checkbox to toggle wether or not the map should animate -->
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Animate" label-class="width-10" checked="ctrl.panel.animate" on-change="ctrl.optionChanged('animate')"></gf-form-switch>
		</div>

		<!-- Input to determine the duration of the animation -->
		<div class="gf-form" ng-show="ctrl.panel.animate">
			<label class="gf-form-label width-10">Anim duration (S)</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.animationDuration" on-change="ctrl.optionChanged('animationDuration')"/>
		</div>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Trends</h5>

		<!-- Checkbox to toggle wether or not the legend should be showing -->
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Show Trends" label-class="width-10" checked="ctrl.panel.showTrends" on-change="ctrl.optionChanged('showTrends')"></gf-form-switch>
		</div>

		<div ng-if="!ctrl.panel.showTrends">
			<!-- Treshold options -->
			<h5 class="section-heading">Threshold Options</h5>

			<!-- Input to determine the amount of colors -->
			<div class="gf-form">
				<label class="gf-form-label width-10">Timespan</label>
				<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.timespan" ng-blur="ctrl.optionChanged('timespan')" placeholder="1h" />
			</div>

			<!-- Input to determine the amount of colors -->
			<div class="gf-form">
				<label class="gf-form-label width-10">Color Amount</label>
				<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.colorAmount" ng-blur="ctrl.optionChanged('colorAmount')" placeholder="1" />
			</div>

			<!-- List of color-pickers to select which colors to be used within the map -->
			<div class="gf-form">
				<label class="gf-form-label width-10">Color</label>
				<spectrum-picker class="gf-form-input width-3" ng-repeat="color in ctrl.panel.colors track by $index" ng-model="ctrl.panel.colors[$index]" ng-change="ctrl.optionChanged('colors')" ></spectrum-picker>
			</div>
		</div>
	</div>

	<div class="section gf-form-group">
		<!-- Debug options -->
		<h5 class="section-heading">Debug Options</h5>

		<!-- Checkbox to toggle wether or not to use faked data -->
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Use fake data" label-class="width-10" checked="ctrl.panel.useFakeData" on-change="ctrl.optionChanged('useFakeData')"></gf-form-switch>
		</div>
	</div>
</div>

<div class="editor-row">
	<div class="section gf-form-group">
		<!-- Reset options -->
		<h5 class="section-heading">Reset to Defaults</h5>

		<!-- Selector for the continent -->
		<div class="gf-form">
			<button class="btn gf-form-btn width-10 btn-secondary" ng-click="ctrl.optionResetButtonClicked()">
				<i class="fa fa-undo"></i>
				&nbsp;Reset
			</button>
		</div>
	</div>
</div>
