<!-- Thttps://www.linuxmint.com/start/serena/his HTML page holds all the settings for the GeoMap plugin -->
<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Map Visual Options</h5>

		<!-- Checkbox to toggle wether or not to be able to click to zoom -->
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Click to Zoom" label-class="width-10" checked="ctrl.panel.clickToZoomEnabled"></gf-form-switch>
		</div>

		<!-- Checkbox to toggle wether or not the map should animate -->
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Animate" label-class="width-10" checked="ctrl.panel.animate" on-change="ctrl.optionChanged('animate')"></gf-form-switch>
		</div>

		<!-- Input to determine the duration of the animation -->
		<div class="gf-form" ng-show="ctrl.panel.animate">
			<label class="gf-form-label width-10">Anim duration (S)</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.animationDuration" on-change="ctrl.optionChanged('animationDuration')"/>
		</div>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Map Options</h5>

		<!-- Checkbox to toggle wether or not to compare countries to themselves or all -->
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Individual max value" label-class="width-10" checked="ctrl.panel.individualMaxValue" on-change="ctrl.optionChanged('individualMaxValue')"></gf-form-switch>
		</div>
	</div>

	<div class="section gf-form-group">
		<!-- Debug options -->
		<h5 class="section-heading">Debug Options</h5>

		<!-- Checkbox to toggle wether or not to use faked data -->
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Use fake data" label-class="width-10" checked="ctrl.panel.useFakeData" on-change="ctrl.optionChanged('useFakeData')"></gf-form-switch>
		</div>
	</div>
</div>

<div class="editor-row">
	<div class="section gf-form-group">
		<!-- Reset options -->
		<h5 class="section-heading">Reset to Defaults</h5>

		<!-- Selector for the continent -->
		<div class="gf-form">
			<button class="btn gf-form-btn width-10 btn-secondary" ng-click="ctrl.optionResetButtonClicked()">
				<i class="fa fa-undo"></i>
				&nbsp;Reset
			</button>
		</div>
	</div>
</div>
