<!-- Get the GeoChart map service -->
<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>

<!-- This div will hold the content of the GeoChart map -->
<div class = "map-holder">
    <div id = "map" class = "map"></div>

    <!-- Render breadcrumbs -->
    <div id = "breadcrumbs" class = "breadcrumbs" ng-if="ctrl.panel.showBreadcrumbs">
        <div ng-repeat = "n in ctrl.breadcrumbs track by $index">
            <div ng-if="!$last">
                <a href = "#" ng-click = "ctrl.breadcrumbClicked($index)">{{n}}</a>&nbsp;>&nbsp;
            </div>
            <div ng-if="$last">
                {{n}}
            </div>
        </div>
    </div>
</div>
